# Project place file
/ropinia.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# rojo sourcemap
sourcemap.json

# wally
wally.lock
DevPackages
Packages

# ignore output rojo build
*.rbxl

# ignore global types
globalTypes.d.lua